* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif; 
     background: linear-gradient(0deg,aliceblue, rgb(193, 225, 255));
}

.header {
    text-align: center;
    padding: 90px 0;
    font-size: 40px;
    margin-bottom: 20px;
    background: linear-gradient(90deg, #8e2de2, #4a00e0);  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.header img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #3f015c;
    box-shadow:0 0 20px #650194;
}

.container {
    display: flex;
}

.navbar {
    width: 30%;
    padding: 30px;
}

.navbar ul{
    text-decoration: none;
    list-style: none;
}

.navbar ul li{
    background: linear-gradient(90deg, #4a00e0 , #3f015c9f);  
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 2px  #3f015c9f ;
    margin: 7px;
    padding: 8px;
    border-radius: 20px ;
    border: 2px solid #4a00e0  ;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-transform: uppercase;
}

.navbar ul li:hover{
    background-color: #7300a8;
}

.content {
    width: 70%;
    background: linear-gradient(90deg,#3f015c9f, #4a00e0);
    padding: 30px;
    height: 62vh;
    border-radius: 20px 0 0 0;
    box-shadow: 0 0 5px #4a00e0;

    /*TEXT*/
    
    color: rgb(227, 240, 252);
}

.footer {
    background: linear-gradient(0deg, rgb(193, 225, 255), aliceblue);
    text-align: center;
    padding: 25px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}